{
    "presets": ["env","stage-0"],
    "plugins": ["transform-runtime",["component", [
        {
            "libraryName": "mint-ui",
            "style": true
        }
        ]]
    ],
    "comments": false,
    "env": {
        "test": {
        "presets": ["env", "stage-2"],
        "plugins": [ "istanbul" ]
    }
    }
}